<%- include("partials/header.ejs") -%>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Feedback</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/filter/ALL" class="btn shaodow-none first-btn" type="button" name="button">ALL</a>
        </li>
        <li class="nav-item">
          <a href="/filter/UI" class="btn shaodow-none first-btn" type="button" name="button">UI</a>
        </li>
        <li class="nav-item">
          <a href="/filter/UX" class="btn shaodow-none first-btn" type="button" name="button">UX</a>
        </li>
        <li class="nav-item">
          <a href="/filter/Enhancement" class="btn shaodow-none first-btn" type="button" name="button">Enhancement</a>
        </li>
        <li class="nav-item">
          <a href="/filter/Feature" class="btn shaodow-none first-btn" type="button" name="button">Feature</a>
        </li>
    </div>
  </div>
</nav>
<div class="outer">
  <div class="flexbox-1">
    <div class="item-1 flex-item1">
      <h4>Feedback</h4>
      <p>feedback board</p>
    </div>
    <div class="item-2 flex-item1">
      <div class="row-1">
        <a href="/filter/ALL" class="btn shaodow-none first-btn" type="button" name="button">ALL</a>
        <a href="/filter/UI" class="btn shaodow-none first-btn" type="button" name="button">UI</a>
        <a href="/filter/UX" class="btn shaodow-none first-btn" type="button" name="button">UX</a>
      </div>
      <div class="row-2">
        <a href="/filter/Enhancement" class="btn shaodow-none first-btn" type="button" name="button">Enhancement</a>
        <a href="/filter/Bug" class="btn shaodow-none first-btn" type="button" name="button">Bug</a>
      </div>
      <div class="row-3">
        <a href="/filter/Feature" class="btn shaodow-none first-btn" type="button" name="button">Feature</a>
      </div>
    </div>
  </div>
  <div class="flexbox-2">
    <div class="item-one flex-items">
      <div class="sugg">
        <h4> Suggestions</h4>
      </div>
      <div class="sort">
        <form class="" action="/filte" method="post">
          <label for="">Sort by:</label>
          <select class="Most" name="filter" onchange="javascript:this.form.submit()">
            <option value="0">All</option>
            <option value="1">Most Comments</option>
            <option value="2">Most Upvotes</option>
          </select>
        </form>
      </div>
      <div class="button">
        <a href="/feed" class="btn btn-2" type="button" name="button">+ Add Feedback</a>
      </div>
    </div>
    <!-- for each loop -->
  <%  feedbacks.forEach(function(feedback) { %>
      <div class="item-two flex-items">
        <div class="uptick">
          <a href="/uptick/<%= feedback._id %>" class="btn shaodow-none first-btn" type="button" name="button"><i class="fas fa-chevron-up"></i> <br> <%=feedback.uptick%></a>
        </div>
        <div class="text">
          <h4><%=feedback.title%></h4>
          <p><%=feedback.desc%></p>
          <button class="btn shaodow-none first-btn" type="button" name="button"><%=feedback.filter%></button>
        </div>
        <div class="comment">
          <a class="comment-btn" href="/comments/<%= feedback._id %>"><i class="fas fa-comment"></i> <%=feedback.ncomments%></a>
        </div>
      </div>
<%    }) %>
  </div>
</div>




<%- include("partials/footer.ejs") -%>
